AUTH_TOKEN=access_token
LOG_TOKEN=log_token

# Optional: only needed if you want to run npm run auth
EMAIL=email_id
FULL_NAME=name_here
ROLL_NO=roll_no
ACCESS_CODE=access_code
CLIENT_ID=client_id
CLIENT_SECRET=client_secret
